body {
  font-family: 'Gilroy', sans-serif;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
picture,
img {
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
.white-text {
  color: white;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.yellow-radius-focus:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f7941e;
  border-radius: 5px;
}
.yellow-focus:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f7941e;
}
.blask-focus:focus {
  outline: none;
  box-shadow: 0 0 0 2px black
}
.white-focus:focus {
  outline: none;
  box-shadow: 0 0 0 1px white;
  border-radius: 5px;
}
.yellow-hover:hover {
  color: #f7941e;
}
.yellow-shadow-hover:hover {
  box-shadow: 6px 6px 0 rgba(247, 149, 30, 0.432);
}
.yellow-shadow-big-hover:hover {
  box-shadow: 7px 7px 0#f7951e75;
}
.black-swadow-hover:hover {
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.445);
}
.black-swadow-big-hover:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.103);
}
.white-to-yellow-act:active {
  color: white;
  background-color: #f7941e;
}
.yellow-to-black-act:active {
  color: white;
  background-color: black;
}
.picture-inline-flex {
  display: inline-flex;
}
.header-container {
  background-color: #fafafa;
  padding: 20px 15px;
}
@media (min-width: 576px) {
  .header-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .header-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .header-container {
    max-width: 960px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .header-container {
    max-width: 1140px;
  }
}
.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .header-flex {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.haeder-logo-box {
  padding-right: 15px;
  padding-left: 15px;
}
.header-logo {
  display: flex;
  transition-property: transform;
  transition-duration: 0.3s;
}
.nav-bar {
  order: -1;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .nav-bar {
    order: 0;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}
.nav-bar-list {
  display: flex;
  justify-content: space-around;
}
.nav-bar-list-item {
  display: inline-flex;
}
.nav-bar-list-item-link {
  font-size: 16px;
  line-height: 1.22;
  color: black;
  padding: 8px;
  transition-property: color;
  transition-duration: 0.3s;
}
@media (min-width: 576px) {
  .nav-bar-list-item-link {
    font-size: 18px;
    padding: 15px;
  }
}
.header-button-box {
  display: flex;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
}
.header-button {
  min-width: 140px;
  font-size: 16px;
  line-height: 1.22;
  color: #f7941e;
  border: 1px solid #f7941e;
  border-radius: 5px;
  background-color: #fafafa;
  padding: 10px 13px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.3s;
} 
@media (min-width: 992px) {
  .header-button {
    font-size: 18px;
    padding: 11px 24px;
  }
}
@media (min-width: 1200px) {
  .haeder-logo-box {
    display: inline-flex;
    width: 8.33333%;
  }
  .nav-bar {
    margin-left: 25%;
    width: 33.33333%;
  }
  .header-button-box {
    margin-left: 16.66666%;
    width: 16.66666%;
  }
}
.hero-container {
  background-color: #f1f1f2;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .hero-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 76px;
  }
}
@media (min-width: 1200px) {
  .hero-container {
    max-width: 1140px;
  }
}
.hero-flex {
  display: flex;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px) {
  .hero-flex {
    flex-direction: row;
  }
}
.hero-flex-inner {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
}
@media (min-width: 576px) {
  .hero-flex-inner {
    width: 50%;
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .hero-flex-inner {
    width: 41.66666%;
    margin-right: 8.33333%;
  }
}
@media (min-width: 992px) {
  .hero-flex-inner {
    width: 33.33333%;
    margin-right: 16.66666%;
  }
}
.hero-flex-inner-title {
  font-size: 35px;
  line-height: 1.23;
  color: black;
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .hero-flex-inner-title {
    font-size: 42px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .hero-flex-inner-title {
    font-size: 46px;
    padding-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .hero-flex-inner-title {
    font-size: 56px;
    padding-bottom: 36px;
  }
}
.hero-flex-inner-text {
  font-size: 15px;
  line-height: 1.4;
  color: black;
  padding-bottom: 10px;
}
@media (min-width: 576px) {
  .hero-flex-inner-text {
    font-size: 16px;
    padding-bottom: 18px;
  }
}
@media (min-width: 768px) {
  .hero-flex-inner-text {
    font-size: 18px;
    padding-bottom: 29px;
  }
}
@media (min-width: 992px) {
  .hero-flex-inner-text {
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .hero-flex-inner-text {
    font-size: 20px;
    padding-bottom: 52px;
  }
}
.hero-button-text {
  display: block;
  font-size: 16px;
  line-height: 1.22;
  color: #f7941e;
  border: 1px solid #F7941E;
  border-radius: 5px;
  padding: 13px 25px;
  transition-property: background-color, color, box-shadow, border;
  transition-duration: 0.3s;
}
@media (min-width: 768px) {
  .hero-button-text {
    font-size: 17px;
    padding: 16px 30px;
  }
}
@media (min-width: 1200px) {
  .hero-button-text {
    font-size: 18px;
    padding: 19px 35px;
  }
}
.hero-flex-inner-img {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width:576px) {
  .hero-flex-inner-img {
    width: 50%;
  }
}
.feature-container {
  background-color: #f1f1f2;
  padding-bottom: 35px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .feature-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 76px;
  }
}
@media (min-width: 1200px) {
  .feature-container {
    max-width: 1140px;
    padding-bottom: 128px;
  }
}
.feature-flex {
  display: flex;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px) {
  .feature-flex {
    flex-direction: row;
    align-items: center;
  }
}
.feature-flex-img {
  display: inline-flex;
  order: 1; 
  padding-right: 15px;
  padding-left: 15px;
}
.feature-flex-inner {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .feature-flex-img {
    order: 0;
    width: 50%;
  }
  .feature-flex-inner {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .feature-flex-inner {
    width: 41.66666%;
    margin-left: 8.33333%;
    padding-right: 25px;
  }
}
@media (min-width: 992px) {
  .feature-flex-inner {
    padding-right: 45px;
  }
}
.feture-flex-inner-title {
  font-size: 26px;
  line-height: 1.41;
  font-weight: normal;
  padding-bottom: 13px;
}
@media (min-width: 576px) {
  .feture-flex-inner-title {
    padding-bottom: 23px;
  }
}
@media (min-width: 768px) {
  .feture-flex-inner-title {
    font-size: 28px;
    padding-bottom: 23px;
  }
}
@media (min-width: 992px) {
  .feture-flex-inner-title {
    font-size: 32px;
  }
}
.feature-flex-inner-text {
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 1.4;
}
@media (min-width: 576px) {
  .feature-flex-inner-text {
    padding-bottom: 23px;
  }
}
@media (min-width: 768px) {
  .feature-flex-inner-text {
    font-size: 17px;
    padding-bottom: 23px;
  }
}
@media (min-width: 992px) {
  .feature-flex-inner-text {
    font-size: 20px;
  }
}
.feature-flex-inner-button {
  font-size: 16px;
  line-height: 1.22;
  color: #f7941e;
  border: 1px solid #f7941e;
  border-radius: 5px;
  background-color: #f1f1f2;
  padding: 12px 33px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.3s;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .feature-flex-inner-button {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .feature-flex-inner-button {
    font-size: 17px;
    padding: 15px 39px;
  }
}
@media (min-width: 1200px) {
  .feature-flex-inner-button {
    font-size: 18px;
    padding: 18px 45px;
  }
}
.gifts-container {
  background-color: white;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
}
@media (min-width: 576px) {
  .gifts-container {
    padding-bottom: 70px;
  }
}
@media (min-width: 992px) {
  .gifts-container {
    max-width: 960px;
    padding-top: 96px;
    padding-bottom: 117px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .gifts-container {
    max-width: 1140px;
    padding-bottom: 137px;
  }
}
.gifts-title {
  font-size: 26px;
  line-height: 1.19;
  font-weight: normal;
  padding-bottom: 13px;
}
@media (min-width: 576px) {
  .gifts-title {
    padding-bottom: 17px;
  }
}
@media (min-width: 768px) {
  .gifts-title {
    font-size: 28px;
    padding-bottom: 23px;
  }
}
@media (min-width: 992px) {
  .gifts-title {
    font-size: 32px;
  }
}
.gifts-text {
  font-size: 16px;
  line-height: 1.33;
  padding-bottom: 25px;
}
@media (min-width: 576px) {
  .gifts-text {
    font-size: 18px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .gifts-text {
    padding-bottom: 64px;
  }
}
.gifts-list {
  display: flex;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px) {
  .gifts-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gifts-list-item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .gifts-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .gifts-list-item {
    width: 25%;
  }
}
.gifts-list-item {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .gifts-list-item {
    margin-bottom: 0;
  }
}
.gift-card-link {
  display: flex;
  flex-direction: column;
  position: relative;
  transition-property: box-shadow;
  transition-duration: 0.5s;
}
.gift-card-link-inner {
  min-height: 166px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 24px;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.gift-card-link-inner:hover {
  background-color: white;
}
.gift-card-link-inner-title {
  font-size: 20px;
  line-height: 1.2;
  color: black;
}
.gift-card-link-inner-text {
  font-size: 14px;
  line-height: 1.36;
  color: black;
}
.sing-contaiher {
  background-color: #f7941e;
  padding-top: 50px;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .sing-contaiher {
    padding-top: 80px;
    padding-bottom: 70px;
  }
}
@media (min-width: 992px) {
  .sing-contaiher  {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .sing-contaiher {
    max-width: 1140px;
  }
}
.sing-flex {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .sing-flex {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 992px) {
  .sing-flex {
    justify-content: space-evenly;
  }
}
.sing-text-wrap {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .sing-text-wrap {
    align-items: flex-start;
  }
}
.sing-title {
  font-size: 25px;
  line-height: 1.41;
}
@media (min-width: 768px) {
  .sing-title {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .sing-title {
    font-size: 32px;
  }
}
.sing-pain-text {
  font-size: 20px;
  line-height: 1.41;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .sing-pain-text {
    font-size: 24px;
    padding-bottom: 0;
  }
}
@media (min-width: 992px) {
  .sing-pain-text {
    font-size: 32px;
  }
}
.sing-btn-wrap {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}
@media (min-width:576px) {
  .sing-btn-wrap {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
}
.sing-btn-question,
.sing-btn-agree {
  font-size: 18px;
  line-height: 1.33;
  border: 1px solid black;
  border-radius: 5px;
  padding: 13px 35px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.3s;
}
.sing-btn-agree--margin {
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .sing-btn-agree--margin {
    margin-right: 16px;
    margin-bottom: 0;
  }
}
.articles-container {
  background-color: white;
  padding-top: 58px;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .articles-container {
    padding-top: 88px;
    padding-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .articles-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .articles-container {
    max-width: 1140px;
  }
}
.articles-container-title {
  font-size: 26px;
  line-height: 1.19;
  font-weight: normal;
  padding-bottom: 13px;
}
@media (min-width: 576px) {
  .articles-container-title {
    padding-bottom: 17px;
  }
}
@media (min-width: 768px) {
  .articles-container-title {
    font-size: 28px;
    padding-bottom: 23px;
  }
}
@media (min-width: 992px) {
  .articles-container-title {
    font-size: 32px;
  }
}
.articles-container-pain-text {
  font-size: 16px;
  line-height: 1.33;
  padding-bottom: 30px;
}
@media (min-width: 576px) {
  .articles-container-pain-text {
    font-size: 18px;
    padding-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .articles-container-pain-text {
    padding-bottom: 71px;
  }
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.articles-list-item-big {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .articles-list-item-big {
    width: 100%;
    padding-bottom: 40px;
  }
}
.big-article {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  background-color: #231f20;
}
.big-article-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .big-article {
    flex-direction: row;
    align-items: center;
  }
  .big-article-img {
    width: 38.66666%;
    margin-right: 3%;
  }
  .big-article-desc {
    width: 58.33333%;
    justify-content: center;
    align-items: flex-start;
    padding-right: 16.6%;
  }
}
@media (min-width: 768px) {
  .big-article-img {
    width: 35.66666%;
    margin-right: 6%;
  }
}
@media (min-width: 1200px) {
  .big-article-img {
    width: 32.66666%;
    margin-right: 9%;
  }
}
.big-article-autor {
  font-size: 14px;
  line-height: 1.43;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .big-article-autor {
    padding-bottom: 27px;
  }
}
.big-article-title {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.21;
  padding-bottom: 15px;
}
@media (min-width: 576px) {
  .big-article-title {
    text-align: start;
    font-size: 34px;
  }
}
@media (min-width: 768px) {
  .big-article-title {
    font-size: 40px;
    padding-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .big-article-title {
    font-size: 48px;
    padding-bottom: 60px;
  }
}
.big-article-link {
  display: inline-flex;
  font-size: 18px;
  line-height: 1.39;
  padding: 15px;
  transition-property: color;
  transition-duration: 0.3s;
}
@media (min-width: 576px) {
  .big-article-link {
    margin-left: -15px;
  }
}
.articles-list-item {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
}
@media (min-width: 576px) {
  .articles-list-item {
    width: 50%;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .article-card {
    justify-content: space-between;
  }
}
.article-card-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition-property: box-shadow;
  transition-duration: 0.4s;
}
.article-card {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
@media (min-width: 768px) {
  .article-card {
    padding: 33px;
  }
}
.article-card-title {
  font-size: 24px;
  line-height: 1.42;
  color: black;
  padding-bottom: 16px;
}
.article-card-text {
  font-size: 18px;
  line-height: 1.39;
  color: black;
  padding-bottom: 16px;
}
.article-card-pain-text {
  font-size: 14px;
  line-height: 1.43;
  color: black;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.footer-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
@media (min-width: 576px) {
  .footer-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .footer-nav-links {
    padding-right: 8.33333%;
    padding-left: 8.33333%;
    padding-bottom: 40px;
    margin-right: 8.33333%;
    margin-left: 8.33333%;
  }
}
@media (min-width: 992px) {
  .footer-nav-links {
    padding-right: 120px;
    padding-left: 120px;
  }
}
.footer-nav-links-item {
  display: flex;
}
.footer-nav-links-item-logo {
  order: -1;

}
@media (min-width: 576px) {
  .footer-nav-links-item-logo {
    order: 0;
  }
}
@media (min-width: 768px) {
  .footer-nav-links-item-logo {
    padding-right: 70px;
    padding-left: 70px;
  }
}
@media (min-width: 1200px) {
  .footer-nav-links-item-logo {
    padding-right: 120px;
    padding-left: 120px;
  }
}
.footer-nav-link {
  font-size: 14px;
  line-height: 1.43;
  font-weight: bold;
  color: black;
  padding: 7px;
  transition-property: transform, color, box-shadow;
  transition-duration: 0.3s;
}
@media (min-width: 576px) {
  .footer-nav-link {
    padding: 15px;
  }
}
.footer-nav-link-logo {
  padding: 7px 7px 0;
  transition-property: transform;
  transition-duration: 0.3s;
}
@media (min-width: 576px) {
  .footer-nav-link-logo {
    padding: 15px 15px 0;
  }
}
.footer-social-list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 30px;
}
@media (min-width: 576px) {
  .footer-social-list {
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-right: 16.66666%;
    margin-left: 16.66666%;
  }
}
@media (min-width: 768px) {
  .footer-social-list {
    padding-top: 56px;
    padding-bottom: 72px;
    margin-right: 29%;
    margin-left: 29%;
  }
}
@media (min-width: 992px) {
  .footer-social-list {
    padding-top: 56px;
    padding-bottom: 72px;
    margin-right: 33.33333%;
    margin-left: 33.33333%;
  }
}
.footer-social-item-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 18px;
  background-color: black;
  color: white;
  transition-property: background-color, color, border;
  transition-duration: 0.3s;
}
.footer-social-item-icon:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.footer-social-list-link:focus {
  display: flex;
  outline: none;
  box-shadow: 0 0 0 4px #f7941e;
  border-radius: 50px;
}
.footer-copyright {
  padding-bottom: 35px;
}
.footer-copyright-autor,
.footer-copyright-date {
  font-size: 14px;
  line-height: 1.43;
  color: black;
}
.footer-copyright-autor {
  padding-left: 14px;
}