body {
  font-family: 'Gilroy', sans-serif;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.yellow-radius-focus:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f7941e;
  border-radius: 5px;
}
.yellow-focus:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f7941e;
}
.yellow-hover:hover {
  color: #f7941e;
}
.yellow-shadow-hover:hover {
  box-shadow: 6px 6px 0#f7951e75;
}
.yellow-shadow-big-hover:hover {
  box-shadow: 8px 8px 0#f7951e75;
}
.white-to-yellow-act:active {
  color: white;
  background-color: #f7941e;
}
.yellow-to-white-act:active {
  color: #f7941e;
  background-color: white;
}
.header-container {
  background-color: #fafafa;
  padding: 20px 15px;
}
@media (min-width: 576px) {
  .header-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .header-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .header-container {
    max-width: 960px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .header-container {
    max-width: 1140px;
  }
}
.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .header-flex {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.haeder-logo-box {
  padding-right: 15px;
  padding-left: 15px;
}
.header-logo {
  display: flex;
  transition-property: transform;
  transition-duration: 0.3s;
}
  .header-logo:hover {
    transform: scale(1.3);
  }
.nav-bar {
  order: -1;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .nav-bar {
    order: 0;
    width: auto;
    padding-bottom: 0;
  }
}
.nav-bar-list {
  display: flex;
  justify-content: space-around;
}
.nav-bar-list-item {
  display: inline-flex;
}
.nav-bar-list-item-link {
  font-size: 16px;
  line-height: 1.22;
  color: black;
  padding: 8px;
  transition-property: color;
  transition-duration: 0.3s;
}
@media (min-width: 576px) {
  .nav-bar-list-item-link {
    font-size: 18px;
    padding: 15px;
  }
}
.header-button-box {
  display: flex;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
}
.header-button {
  min-width: 140px;
  font-size: 16px;
  line-height: 1.22;
  color: #f7941e;
  border: 1px solid #f7941e;
  border-radius: 5px;
  background-color: #fafafa;
  padding: 10px 13px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.3s;
} 
@media (min-width: 992px) {
  .header-button {
    font-size: 18px;
    padding: 11px 24px;
  }
}
.hero-container {
  background-color: #f1f1f2;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .hero-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 76px;
  }
}
@media (min-width: 1200px) {
  .hero-container {
    max-width: 1140px;
  }
}
.hero-flex {
  display: flex;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px) {
  .hero-flex {
    flex-direction: row;
  }
}
.hero-flex-inner {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
}
@media (min-width: 576px) {
  .hero-flex-inner {
    width: 50%;
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .hero-flex-inner {
    width: 41.66666%;
    margin-right: 8.33333%;
  }
}
@media (min-width: 992px) {
  .hero-flex-inner {
    width: 33.33333%;
    margin-right: 16.66666%;
  }
}
.hero-flex-inner-title {
  font-size: 35px;
  line-height: 1.23;
  color: black;
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .hero-flex-inner-title {
    font-size: 42px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .hero-flex-inner-title {
    font-size: 46px;
    padding-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .hero-flex-inner-title {
    font-size: 56px;
    padding-bottom: 36px;
  }
}
.hero-flex-inner-text {
  font-size: 15px;
  line-height: 1.4;
  color: black;
  padding-bottom: 10px;
}
@media (min-width: 576px) {
  .hero-flex-inner-text {
    font-size: 16px;
    padding-bottom: 18px;
  }
}
@media (min-width: 768px) {
  .hero-flex-inner-text {
    font-size: 18px;
    padding-bottom: 29px;
  }
}
@media (min-width: 992px) {
  .hero-flex-inner-text {
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .hero-flex-inner-text {
    font-size: 20px;
    padding-bottom: 52px;
  }
}
.hero-flex-inner-button {
  padding: 3px;
  margin-left: -3px;
}
.hero-button-text {
  display: block;
  font-size: 16px;
  line-height: 1.22;
  color: white;
  background-color: #f7941e;
  border-radius: 5px;
  padding: 13px 25px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.3s;
}
@media (min-width: 768px) {
  .hero-button-text {
    font-size: 17px;
    padding: 16px 30px;
  }
}
@media (min-width: 1200px) {
  .hero-button-text {
    font-size: 18px;
    padding: 19px 35px;
  }
}
.hero-flex-inner-img {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width:576px) {
  .hero-flex-inner-img {
    width: 50%;
  }
}
.feature-container {
  background-color: #f1f1f2;
  padding-bottom: 35px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .feature-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 76px;
  }
}
@media (min-width: 1200px) {
  .feature-container {
    max-width: 1140px;
    padding-bottom: 128px;
  }
}
.feature-flex {
  display: flex;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px) {
  .feature-flex {
    flex-direction: row;
    align-items: center;
  }
}
.feature-flex-img {
  display: inline-flex;
  order: 1; 
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .feature-flex-img {
    order: 0;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .feature-flex-img {
    margin-right: 8.33333%;
  }
}
.feature-flex-inner {
  padding-right: 15px;
  padding-left: 15px;
}
.feture-flex-inner-title {
  font-size: 26px;
  line-height: 1.41;
  font-weight: normal;
  padding-bottom: 13px;
}
@media (min-width: 576px) {
  .feture-flex-inner-title {
    padding-bottom: 23px;
  }
}
@media (min-width: 768px) {
  .feture-flex-inner-title {
    font-size: 28px;
    padding-bottom: 23px;
  }
}
@media (min-width: 992px) {
  .feture-flex-inner-title {
    font-size: 32px;
  }
}
.feature-flex-inner-text {
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 1.4;
}
@media (min-width: 576px) {
  .feature-flex-inner-text {
    padding-bottom: 23px;
  }
}
@media (min-width: 768px) {
  .feature-flex-inner-text {
    font-size: 17px;
    padding-bottom: 23px;
  }
}
@media (min-width: 992px) {
  .feature-flex-inner-text {
    font-size: 20px;
  }
}
.feature-flex-inner-button {
  font-size: 16px;
  line-height: 1.22;
  color: #f7941e;
  border: 1px solid #f7941e;
  border-radius: 5px;
  background-color: #f1f1f2;
  padding: 12px 33px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.3s;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .feature-flex-inner-button {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .feature-flex-inner-button {
    font-size: 17px;
    padding: 15px 39px;
  }
}
@media (min-width: 1200px) {
  .feature-flex-inner-button {
    font-size: 18px;
    padding: 18px 45px;
  }
}
.gifts-container {
  background-color: white;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 50px;
}
@media (min-width: 576px) {
  .gifts-container {
    padding-bottom: 70px;
  }
}
@media (min-width: 992px) {
  .gifts-container {
    max-width: 960px;
    padding-top: 96px;
    padding-bottom: 117px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .gifts-container {
    max-width: 1140px;
    padding-bottom: 137px;
  }
}
.gifts-title {
  font-size: 26px;
  line-height: 1.19;
  font-weight: normal;
  padding-bottom: 13px;
}
@media (min-width: 576px) {
  .gifts-title {
    padding-bottom: 17px;
  }
}
@media (min-width: 768px) {
  .gifts-title {
    font-size: 28px;
    padding-bottom: 23px;
  }
}
@media (min-width: 992px) {
  .gifts-title {
    font-size: 32px;
  }
}
.gifts-text {
  font-size: 16px;
  line-height: 1.33;
  padding-bottom: 25px;
}
@media (min-width: 576px) {
  .gifts-text {
    font-size: 18px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .gifts-text {
    padding-bottom: 64px;
  }
}
.gifts-list {
  display: flex;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px) {
  .gifts-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gifts-list-item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .gifts-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .gifts-list-item {
    width: 25%;
  }
}
.gifts-list-item {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .gifts-list-item {
    margin-bottom: 0;
  }
}
.gift-card-link {
  display: flex;
  flex-direction: column;
  transition-property: box-shadow;
  transition-duration: 0.3s;
}
.gift-card-link:hover {
  box-shadow: 12px 12px 8px #f3f3f3;
}
.gift-card-link-inner {
  min-height: 166px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 24px;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.gift-card-link-inner:hover {
  background-color: white;
}
.gift-card-link-inner-title {
  font-size: 20px;
  line-height: 1.2;
  color: black;
}
.gift-card-link-inner-text {
  font-size: 14px;
  line-height: 1.36;
  color: black;
}