@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/gilroy-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/gilroy_bold.woff2') format('woff2');
}